week01/NO1/.idea/
week01/NO2/.idea/
/__pycache__/
week01/NO2/maoyanmovie/.idea/
week01/NO2/maoyanmovie/maoyanmovie/__pycache__/
week0*/NO*/*/.idea/
week0*/NO*/*/*/__pycache__/*.pyc
week0*/NO*/*/*.xml
week0*/NO*/*/*.iml
week0*/NO*/.idea/.gitignore
week0*/NO*/.idea/inspectionProfiles/*.xml
